@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/OswaldRegular.woff") format("woff"), url("../fonts/Oswald/OswaldRegular.woff2") format("woff2"), url("../fonts/Oswald/OswaldRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/OswaldMedium.woff") format("woff"), url("../fonts/Oswald/OswaldMedium.woff2") format("woff2"), url("../fonts/Oswald/OswaldMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #444444; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

picture img {
  display: block; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  background-color: #68b738;
  display: block;
  padding: 12px 26px 12px 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  outline: none;
  border: none;
  background-color: #68b738;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .button:hover {
    text-decoration: none;
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #5eaa2f; }
  .button:focus {
    text-decoration: none; }
  .button--gray {
    color: #444444;
    background-color: #f2f2f2; }
    .button--gray:hover {
      background-color: #ebebeb; }
    .button--gray:active {
      color: rgba(68, 68, 68, 0.4); }

@media (min-width: 768px) {
  .button {
    padding: 17px 27px 17px 25px;
    font-size: 20px;
    line-height: 20px; } }

.pageHeader__wrapper {
  position: relative;
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .pageHeader__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .pageHeader__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.paheHeader__logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 16px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .paheHeader__logo:hover {
    opacity: .8; }
  .paheHeader__logo:active {
    opacity: .6; }

.pageHeader__logoImage {
  width: 33px;
  height: 38px; }

.pageHeader__logoTitle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 91px;
  width: 101px;
  height: 18px;
  margin: auto; }

@media (min-width: 768px) {
  .pageHeader__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 24px; }
  .paheHeader__logo {
    display: block;
    width: auto;
    padding-top: 0;
    padding-bottom: 0; }
  .pageHeader__logoImage {
    width: 173px;
    height: 58px; }
  .pageHeader__logoTitle {
    display: none; } }

@media (min-width: 1300px) {
  .pageHeader--index {
    position: relative;
    min-height: 696px; }
    .pageHeader--index::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      min-height: 696px;
      background-image: url("../img/raster/index-background-desktop@1x.jpg");
      background-color: #63a73a;
      background-position: 0%;
      background-repeat: no-repeat;
      background-size: cover; } }
    @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
      .pageHeader--index::after {
        background-image: url("../img/raster/index-background-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .pageHeader__wrapper {
    padding-top: 54px; }
  .pageHeader__logoImage {
    width: 202px;
    height: 59px; } }

.mainNav {
  width: auto; }
  .mainNav__list {
    margin: 0;
    padding: 0;
    list-style: none; }

.mainNav__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.mainNav--closed .mainNav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.mainNav--closed .mainNav__toggle:hover::before {
  background-color: rgba(34, 34, 34, 0.6);
  box-shadow: 0 8px 0 0 rgba(34, 34, 34, 0.6), 0 16px 0 0 rgba(34, 34, 34, 0.6); }

.mainNav--closed .mainNav__toggle:active::before {
  background-color: rgba(34, 34, 34, 0.3);
  box-shadow: 0 8px 0 0 rgba(34, 34, 34, 0.3), 0 16px 0 0 rgba(34, 34, 34, 0.3); }

.mainNav--opened .mainNav__toggle::before, .mainNav--opened .mainNav__toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 20px;
  height: 2px;
  background-color: #222222;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

.mainNav--opened .mainNav__toggle::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: none; }

.mainNav--opened .mainNav__toggle::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.mainNav--opened .mainNav__toggle:hover::before, .mainNav--opened .mainNav__toggle:hover::after {
  background-color: rgba(34, 34, 34, 0.6); }

.mainNav--opened .mainNav__toggle:active::before, .mainNav--opened .mainNav__toggle:active::after {
  background-color: rgba(34, 34, 34, 0.3); }

@media (max-width: 767px) {
  .mainNav {
    border-bottom: 1px solid #e6e6e6;
    margin-right: -20px;
    margin-left: -20px; }
    .mainNav.mainNav--opened {
      border-bottom: none; }
  .mainNav--closed .mainNav__list {
    display: none; }
  .mainNav--opened .mainNav__list,
  .mainNav--nojs .mainNav__list {
    display: block; }
  .mainNav--nojs .mainNav__toggle {
    display: none; } }

@media (min-width: 768px) {
  .mainNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
  .mainNav__toggle {
    display: none; } }

.siteList__item {
  border-top: 1px solid #e6e6e6; }
  .siteList__item:last-child {
    border-bottom: 1px solid #e6e6e6; }
  .siteList__item a {
    display: block;
    padding: 24px 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #111111;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color .3s ease;
    transition: color .3s ease; }
  .siteList__item a[href]:hover {
    color: rgba(17, 17, 17, 0.6); }
  .siteList__item a[href]:active {
    color: rgba(17, 17, 17, 0.3); }

@media (min-width: 768px) {
  .siteList {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  .siteList__item {
    border-top: none;
    margin-right: 35px; }
    .siteList__item:last-child {
      border-bottom: none;
      margin-right: 0; }
    .siteList__item a {
      padding: 0;
      padding-top: 22px;
      padding-bottom: 12px;
      font-size: 18px;
      line-height: 18px;
      font-weight: normal; }
    .siteList__item--active a {
      border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .siteList__item a {
    font-size: 20px;
    line-height: 20px; }
  .pageHeader--index .siteList__item a {
    color: #ffffff; }
  .pageHeader--index .siteList__item--active a {
    border-bottom: 2px solid #ffffff; }
  .pageHeader--index .siteList__item a[href]:hover {
    color: rgba(255, 255, 255, 0.6); }
  .pageHeader--index .siteList__item a[href]:active {
    color: rgba(255, 255, 255, 0.3); } }

.jumbotron {
  width: auto;
  padding: 0 20px;
  position: relative; }
  @media (min-width: 768px) {
    .jumbotron {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .jumbotron {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }
  .jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 306px;
    background-image: url("../img/raster/index-background-mobile@1x.jpg");
    background-color: #63a73a;
    background-position: center;
    background-repeat: no-repeat; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .jumbotron::after {
        background-image: url("../img/raster/index-background-mobile@2x.jpg"); } }
  .jumbotron__wrapper {
    padding-top: 28px;
    padding-bottom: 22px;
    font-family: "Oswald", "Arial", sans-serif;
    text-align: center;
    color: #ffffff; }
  .jumbotron__title {
    margin: 0;
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal; }
  .jumbotron__slogan {
    margin: 0;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase; }
  .jumbotron__image {
    width: 280px;
    height: 270px;
    margin: 0 auto; }

@media (min-width: 768px) {
  .jumbotron::after {
    display: none; }
  .jumbotron__wrapper {
    position: relative;
    padding-top: 58px;
    padding-bottom: 0;
    text-align: left;
    color: #111111; }
  .jumbotron__title {
    margin-bottom: 46px;
    padding-left: 85px;
    font-size: 60px;
    line-height: 60px; }
  .jumbotron__slogan {
    margin-bottom: 23px;
    padding-left: 85px;
    font-size: 20px;
    line-height: 20px; }
  .jumbotron__image {
    width: 709px;
    height: 609px; }
  .jumbotron__button {
    position: absolute;
    top: 287px;
    left: 90px; } }

@media (min-width: 1300px) {
  .jumbotron {
    margin-bottom: 80px; }
    .jumbotron__wrapper {
      position: relative;
      padding-top: 111px;
      padding-left: 82px; }
    .jumbotron__title, .jumbotron__slogan {
      padding-left: 0; }
    .jumbotron__slogan {
      margin-bottom: 55px; }
    .jumbotron__image {
      position: absolute;
      top: 25px;
      left: 450px;
      width: 552px;
      height: 499px; }
    .jumbotron__button {
      position: static;
      display: inline-block; } }

.categories {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .categories {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .categories {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }
  .categories__wrapper {
    font-weight: 400; }
  .categories__item {
    position: relative;
    margin-bottom: 20px;
    padding: 25px 19px 20px;
    background-color: #f2f2f2; }
    .categories__item:last-child {
      margin-bottom: 0; }
    .categories__item::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 50px;
      height: 50px;
      background-color: #68b738;
      border-radius: 50%; }
    .categories__item::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px; }
    .categories__item--slim::after {
      top: 22px;
      left: 29px;
      width: 35px;
      height: 49px;
      background-image: url("../img/vector/icon-cat-slim.svg"); }
    .categories__item--pro::after {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background-image: url("../img/vector/icon-cat-pro.svg"); }
  .categories__title {
    margin-bottom: 25px;
    padding: 13px 0;
    padding-left: 71px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #111111; }
  .categories__description {
    margin-bottom: 20px;
    padding-bottom: 24px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #d9d9d9;
    color: #444444; }
  .categories__link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #111111; }
    .categories__link::before, .categories__link::after {
      display: block;
      content: "";
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .categories__link::before {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      order: 1;
      margin-left: 12px;
      width: 19px;
      height: 3px;
      background-color: #222222; }
    .categories__link::after {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      order: 2;
      border: 5.5px solid transparent;
      border-left-color: #222222; }
    .categories__link:hover::before {
      width: 27px; }
    .categories__link:active {
      opacity: 0.3;
      -webkit-transition: none;
      transition: none; }

@media (min-width: 768px) {
  .categories__item {
    margin-bottom: 30px;
    padding: 80px 60px 62px 52px; }
    .categories__item::before {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px; }
    .categories__item::after {
      top: 62px;
      left: auto;
      right: 62px; }
    .categories__item--slim::after {
      top: 80px;
      right: 92px;
      width: 140px;
      height: 194px; }
    .categories__item--pro::after {
      top: 135px;
      right: 30px;
      width: 268px;
      height: 112px; }
  .categories__title {
    margin-bottom: 32px;
    padding: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px; }
  .categories__description {
    margin-bottom: 65px;
    padding-bottom: 0;
    padding-right: 222px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none; }
  .categories__link {
    font-size: 20px;
    line-height: 20px; }
    .categories__link::before {
      margin-left: 22px; } }

@media (min-width: 1300px) {
  .categories__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .categories__item {
    width: 570px;
    margin-bottom: 0;
    margin-right: 80px;
    padding: 47px 52px 62px 52px; }
    .categories__item:last-child {
      margin-right: 0; }
    .categories__item::before {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px; }
    .categories__item::after {
      top: 47px;
      left: 52px;
      right: auto; }
    .categories__item--slim::after {
      top: 40px;
      left: 65px;
      width: 70px;
      height: 97px; }
    .categories__item--pro::after {
      top: 69px;
      left: 34px;
      width: 134px;
      height: 56px; }
  .categories__title {
    margin-top: 30px;
    margin-bottom: 76px;
    padding-left: 162px; }
  .categories__description {
    margin-bottom: 32px;
    padding-right: 0; }
  .categories__link::before {
    margin-left: 24px; } }

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: #111111; }

@media (min-width: 768px) {
  .title {
    font-size: 60px; } }

.advantages {
  padding-top: 18px;
  padding-bottom: 42px; }

.advantages__wrapper {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .advantages__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .advantages__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.advantages__title {
  margin-bottom: 28px; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px; }
  .advantages__item:last-child {
    margin-bottom: 0; }
  .advantages__item::before {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    content: "";
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: #68b738;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px; }
  .advantages__item--leaf::before {
    background-image: url("../img/raster/advantage-leaf@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--leaf::before {
        background-image: url("../img/raster/advantage-leaf@2x.png"); } }
  .advantages__item--powder::before {
    background-image: url("../img/raster/advantage-powder@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--powder::before {
        background-image: url("../img/raster/advantage-powder@2x.png"); } }
  .advantages__item--dining::before {
    background-image: url("../img/raster/advantage-dining@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--dining::before {
        background-image: url("../img/raster/advantage-dining@2x.png"); } }
  .advantages__item--clock::before {
    background-image: url("../img/raster/advantage-clock@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .advantages__item--clock::before {
        background-image: url("../img/raster/advantage-clock@2x.png"); } }

.advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 768px) {
  .advantages {
    padding-top: 46px;
    padding-bottom: 54px; }
  .advantages__title {
    margin-bottom: 70px; }
  .advantages__list {
    counter-reset: section;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .advantages__item {
    counter-increment: section;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 325px;
    margin-bottom: 90px;
    padding-bottom: 46px; }
    .advantages__item:nth-last-child(-n+2) {
      margin-bottom: 0; }
    .advantages__item::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 32px; }
    .advantages__item::after {
      content: counter(section);
      position: absolute;
      top: -25px;
      right: 90px;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 260px;
      color: #f2f2f2; }
  .advantages__text {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .advantages {
    padding-top: 72px;
    padding-bottom: 25px; }
  .advantages__title {
    margin-bottom: 73px; }
  .advantages__item {
    width: 245px;
    margin-bottom: 0; }
    .advantages__item:last-child {
      margin-right: 0; }
    .advantages__item::after {
      right: 0; }
  .advantages__text {
    padding-right: 0; } }

.example {
  padding-top: 17px;
  background-color: #f2f2f2; }

.example__wrapper {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .example__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .example__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.example__title {
  margin-bottom: 23px; }

.exemple__info {
  margin-bottom: 32px; }

.example__text {
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    background: none;
    border-top: 1px solid #e6e6e6; }
  .example__title {
    margin-bottom: 65px; }
  .exemple__info {
    margin-bottom: 85px; }
  .example__text {
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px; } }

@media (min-width: 1300px) {
  .example {
    position: relative;
    padding-top: 0;
    border-top: none; }
    .example::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 69.4%;
      width: 100%;
      background: -webkit-gradient(linear, left top, right top, color-stop(71.8%, #f2f2f2), color-stop(28.2%, #eaeaea));
      background: -webkit-linear-gradient(left, #f2f2f2 71.8%, #eaeaea 28.2%);
      background: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%);
      z-index: -1; }
  .example__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .example__content {
    width: 435px;
    padding-top: 62px;
    padding-right: 135px; }
  .example__title {
    margin-bottom: 150px; }
  .example__text {
    margin-bottom: 68px; }
  .exemple__info {
    margin-bottom: 65px; } }

.result__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 20px; }

.result__item {
  min-width: 122px;
  margin-bottom: 13px;
  border: 1px solid #cdcdcd;
  border-radius: 3px; }

.result__text {
  width: 86px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: -15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2; }
  .result__text--small {
    display: block;
    margin-top: 9px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: #444444; }

.result__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111; }

@media (min-width: 768px) {
  .result {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .result__list {
    margin-bottom: 0; }
  .result__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 162px;
    margin-bottom: 0;
    margin-right: 40px;
    padding-top: 19px; }
    .result__item:last-child {
      margin-right: 0; }
  .result__text {
    width: auto;
    margin-top: 0px;
    margin-bottom: -7px;
    font-size: 30px;
    line-height: 30px;
    background-color: #ffffff; }
    .result__text--small {
      margin-top: 14px;
      font-size: 14px;
      line-height: 14px; }
    .result__text--small br {
      display: none; }
  .result__total {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    text-align: right; } }

@media (min-width: 1300px) {
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .result__list {
    margin-bottom: 60px; }
  .result__text {
    background-color: #f2f2f2; }
  .result__total {
    width: auto;
    text-align: left; }
    .result__total--value {
      padding-left: 60px; } }

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 37px; }

.slider__images {
  position: relative;
  width: 311px;
  height: 240px;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 32px; }

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: width .3s ease-out;
  transition: width .3s ease-out; }
  .slider__image img {
    width: 311px;
    height: 240px; }
  .slider__image--after {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    right: 0;
    width: 0; }

.slider__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 1; }

.slider__label {
  position: relative;
  margin: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer; }

.slider__track {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 72px;
  height: 6px;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px; }

.slider__thumb {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 5px;
  -webkit-transition: margin .4s ease-out;
  transition: margin .4s ease-out; }

@media (min-width: 768px) {
  .slider {
    margin-right: -30px;
    margin-left: -30px;
    padding-bottom: 66px;
    background-image: -webkit-linear-gradient(#ffffff 0, #ffffff 170px, #f2f2f2 170px, #f2f2f2 100%);
    background-image: linear-gradient(#ffffff 0, #ffffff 170px, #f2f2f2 170px, #f2f2f2 100%);
    overflow: hidden; }
  .slider__images {
    width: 680px;
    height: 517px;
    margin-bottom: 15px; }
  .slider__image {
    width: 50%; }
    .slider__image img {
      max-width: 680px;
      width: 680px;
      height: 517px; }
    .slider__image--after {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end;
      box-shadow: 400px 570px 0 400px #eaeaea;
      background-image: -webkit-linear-gradient(#ffffff 0, #ffffff 170px, #eaeaea 170px, #eaeaea 100%);
      background-image: linear-gradient(#ffffff 0, #ffffff 170px, #eaeaea 170px, #eaeaea 100%); }
      .slider__image--after img {
        z-index: 1; }
  .slider__label {
    padding: 6px 0;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3); }
    .slider__label:hover {
      border-bottom-style: solid; }
    .slider__label:active {
      border-bottom: 0; }
  .slider__track {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 428px;
    height: 6px;
    padding: 4px 0;
    background-color: #cdcdcd;
    border: none;
    border-radius: 5px; }
  .slider__thumb {
    width: 34px;
    height: 35px;
    margin-left: calc(50% - 17px);
    background-image: -webkit-radial-gradient(#68b738 0, #68b738 4px, #ffffff 5px, #ffffff 100%);
    background-image: radial-gradient(#68b738 0, #68b738 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: margin .4s ease-out;
    transition: margin .4s ease-out;
    box-sizing: border-box; }
    .slider__thumb:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25); }
    .slider__thumb:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); } }

@media (min-width: 1300px) {
  .slider {
    width: 570px;
    padding-bottom: 35px;
    margin: 0;
    padding-left: 40px;
    background-image: -webkit-linear-gradient(#ffffff 0, #ffffff 200px, #f2f2f2 200px, #f2f2f2 100%);
    background-image: linear-gradient(#ffffff 0, #ffffff 200px, #f2f2f2 200px, #f2f2f2 100%); }
  .slider__images {
    width: 650px;
    margin-bottom: 45px; }
  .slider__image--before {
    max-width: 650px;
    left: -35px;
    padding-right: 35px; }
  .slider__image--after {
    box-shadow: 400px 590px 0 400px #eaeaea;
    background-image: -webkit-linear-gradient(#ffffff 0, #ffffff 200px, #eaeaea 200px, #eaeaea 100%);
    background-image: linear-gradient(#ffffff 0, #ffffff 200px, #eaeaea 200px, #eaeaea 100%); }
  .slider__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; } }

.contacts {
  background-color: #f2f2f2; }

.contacts__wrapper {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .contacts__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .contacts__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.contacts__textBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 26px;
  line-height: 20px; }

.contacts__recruitment {
  width: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase; }

.contacts__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal; }

.contacts__map {
  width: 100%;
  height: 362px;
  background-color: #fdf7ef;
  background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 50%, center -40px;
  background-size: 62px, 345px; }
  @media retina {
    .contacts__map {
      background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-mobile@2x.png"); } }
  .contacts__map iframe {
    width: 100%;
    height: 100%; }

@media (min-width: 768px) {
  .contacts__recruitment {
    width: 155px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 25px; }
  .contacts__address {
    margin-right: 40px;
    text-align: right; }
    .contacts__address--city {
      display: inline-block;
      margin-top: 20px; }
  .contacts__map {
    height: 396px;
    background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-tablet@1x.png");
    background-position: center 52%, center;
    background-size: 113px, contain; } }
  @media retina and (min-width: 768px) {
    .contacts__map {
      background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-tablet@2x.png"); } }

@media (min-width: 1300px) {
  .contacts {
    position: relative; }
  .contacts__wrapper {
    padding: 0;
    background-color: red; }
  .contacts__textBox {
    position: absolute;
    top: 96px;
    width: 420px;
    padding: 67px 75px 56px;
    background-color: #ffffff; }
  .contacts__recruitment {
    width: 168px;
    margin-left: 0;
    font-size: 20px; }
  .contacts__address {
    width: 168px;
    margin-right: 0px;
    font-size: 16px;
    text-align: left; }
  .contacts__map {
    height: 399px;
    background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-desktop@1x.png");
    background-position: 72.7% 52%, center;
    background-size: 113px, 1440px; } }
  @media retina and (min-width: 1300px) {
    .contacts__map {
      background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-desctop@2x.png"); } }

.pageFooter {
  background-color: #f2f2f2; }

.pageFooter__wrapper {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .pageFooter__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .pageFooter__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

@media (min-width: 768px) {
  .pageFooter__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px; } }

.footerLogo {
  padding-top: 38px;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9; }

.footerLogo__image {
  width: 128px;
  height: 24px;
  fill: #111111;
  -webkit-transition: fill-opacity .3s ease;
  transition: fill-opacity .3s ease; }
  .footerLogo__image:hover {
    fill-opacity: .8; }
  .footerLogo__image:active {
    fill-opacity: .6; }

@media (min-width: 768px) {
  .footerLogo {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    border-bottom: none; } }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 25px 0 21px;
  border-bottom: 1px solid #d9d9d9; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.social__item {
  margin-right: 38px; }
  .social__item:last-child {
    margin-right: 0; }

.social__icon {
  fill: #666666;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .social__icon:hover {
    fill: #68b738; }
  .social__icon:active {
    fill-opacity: .3; }
  .social__icon--vk {
    width: 22px;
    height: 12px; }
  .social__icon--insta {
    width: 16px;
    height: 16px; }
  .social__icon--fb {
    width: 10px;
    height: 19px; }

@media (min-width: 768px) {
  .social {
    padding: 0;
    border-bottom: none; }
  .social__item {
    margin-right: 28px; }
    .social__item:last-child {
      margin-right: 0; }
  .social__icon--vk {
    width: 30px;
    height: 16px; }
  .social__icon--insta {
    width: 23px;
    height: 23px; }
  .social__icon--fb {
    width: 14px;
    height: 28px; } }

.copyright {
  padding: 22px 0; }

.copyright__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .copyright__link:hover .copyright__icon {
    fill: #68b738; }
  .copyright__link:active {
    opacity: .3; }

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease; }

@media (min-width: 768px) {
  .copyright {
    padding: 0; }
  .copyright__title {
    margin-right: 22px; } }

.catalog {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .catalog {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .catalog {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.catalog__title {
  margin-top: 15px;
  margin-bottom: 28px; }

.catalog__list {
  margin-right: -20px;
  margin-left: -20px; }

.catalog__item {
  padding: 0 20px 24px;
  border-top: 1px solid #ededed; }
  .catalog__item:last-child {
    border-bottom: 1px solid #ededed; }
  .catalog__item--more {
    position: relative;
    padding-top: 80px; }
    .catalog__item--more::before, .catalog__item--more::after {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      width: 30px;
      height: 2px;
      margin: auto;
      background-color: #d3d3d3; }
    .catalog__item--more::after {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

.catalog__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px; }

@media (min-width: 768px) {
  .catalog__title {
    margin-top: 60px;
    margin-bottom: 84px; }
  .catalog__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px; }
  .catalog__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 45.8%;
    min-height: 430px;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-top: none; }
    .catalog__item:last-child {
      border: 1px solid #ededed; }
    .catalog__item--more {
      background-color: transparent;
      padding-top: 165px; }
      .catalog__item--more::before, .catalog__item--more::after {
        top: 83px;
        width: 60px; } }

@media (min-width: 1300px) {
  .catalog__title {
    margin-top: 75px;
    margin-bottom: 80px; }
  .catalog__item {
    width: 20.1%; } }

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.product__image {
  width: 50%; }
  .product__image img {
    width: 140px;
    height: 144px;
    margin: auto; }

.product__info {
  width: 50%;
  font-weight: normal; }

.product__title {
  margin-bottom: 12px;
  padding-right: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111; }

.product__details {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
  .product__details tr td:nth-child(2) {
    text-align: right; }

.productMore {
  text-align: center; }

.productMore__title {
  margin-bottom: 9px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase; }

.productMore__text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px; }

.productMore__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px; }

@media (min-width: 768px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: -37px;
    margin-left: -37px; }
  .product__image {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 38px; }
    .product__image img {
      width: 324px;
      height: auto; }
  .product__info {
    width: 100%;
    padding: 0 37px;
    box-sizing: border-box; }
  .product__title {
    width: 130px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 0;
    font-size: 20px;
    text-align: center; }
  .product__details {
    margin-bottom: 33px;
    font-size: 16px;
    border-collapse: collapse; }
    .product__details tr {
      border-bottom: 1px solid #cdcdcd; }
    .product__details tr > td {
      padding: 8px 0; }
    .product__details tr td:nth-child(2) {
      text-align: right; }
  .productMore__title {
    width: 170px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0 35px;
    font-size: 20px; }
  .productMore__text {
    width: 180px;
    margin: auto;
    margin-bottom: 90px;
    padding: 0 10px;
    font-size: 16px; } }

@media (min-width: 1300px) {
  .product__image img {
    width: 245px; }
  .productMore__title {
    width: auto;
    padding: 0; }
  .productMore__text {
    width: auto;
    padding: 0; } }

.extraGoods {
  padding-top: 28px;
  overflow: hidden; }

.extraGoods__wrapper {
  width: auto;
  padding: 0 20px;
  position: relative; }
  @media (min-width: 768px) {
    .extraGoods__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .extraGoods__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.extraGoods__title {
  position: relative;
  display: inline-block;
  margin-left: -20px;
  margin-bottom: 34px;
  padding-left: 20px;
  padding-right: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  background: #ffffff; }
  .extraGoods__title::before, .extraGoods__title::after {
    content: "";
    position: absolute;
    top: 55%;
    z-index: -1;
    width: 100vw;
    height: 3px;
    background-color: #68b738; }
  .extraGoods__title::before {
    right: 100%; }
  .extraGoods__title::after {
    left: 100%; }

.extraGoods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px; }

.extraGoods__item {
  padding: 12px 0 17px;
  border-top: 1px solid #cdcdcd; }
  .extraGoods__item:last-child {
    border-bottom: 1px solid #cdcdcd; }

.extraGoods__name {
  margin-bottom: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase; }

.extraGoods__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px; }

.extraGoods__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px; }

.extraGoods__gift {
  width: 100%;
  min-height: 290px;
  margin-bottom: 35px;
  padding: 65px 60px 41px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  background-image: url("../img/raster/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .extraGoods__gift {
      background-image: url("../img/raster/gift-photo-mobile@2x.jpg"); } }

.gift__icon {
  margin-bottom: 60px;
  fill: #ffffff; }

@media (min-width: 768px) {
  .extraGoods {
    padding-top: 7px; }
  .extraGoods__title {
    margin-left: 0;
    margin-bottom: 80px;
    padding-left: 37px;
    padding-right: 39px;
    font-size: 36px;
    line-height: 1; }
  .extraGoods__list {
    margin-bottom: 70px; }
  .extraGoods__item {
    padding: 25px 39px 28px; }
  .extraGoods__product {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 27px; }
  .extraGoods__name {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px; }
  .extraGoods__info {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px; }
  .extraGoods__info span:first-child {
    margin-right: 53px; }
  .extraGoods__gift {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 200px;
    margin-bottom: 75px;
    padding: 65px 122px 70px 90px;
    background-image: url("../img/raster/gift-photo-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .extraGoods__gift {
      background-image: url("../img/raster/gift-photo-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .gift__icon {
    margin-bottom: 0; }
  .extraGoods__action {
    width: 165px;
    text-align: left; } }

@media (min-width: 1300px) {
  .extraGoods {
    padding-top: 15px;
    padding-bottom: 85px; }
  .extraGoods__title {
    margin-left: -40px;
    padding-left: 40px; }
  .extraGoods__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
  .extraGoods__list {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: 80px;
    margin-bottom: 0; }
  .extraGoods__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    padding: 15px 0 16px; }
  .extraGoods__product {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: 40px;
    margin-bottom: 0; }
  .extraGoods__name {
    width: 245px; }
  .extraGoods__info {
    width: 285px; }
  .extraGoods__btn {
    width: 245px;
    box-sizing: border-box; }
  .extraGoods__gift {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 245px;
    min-height: 289px;
    margin-bottom: 0;
    padding: 65px 42px 42px;
    background-image: url("../img/raster/gift-photo-desktop@1x.jpg"); } }
  @media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
    .extraGoods__gift {
      background-image: url("../img/raster/gift-photo-desktop@2x.jpg"); } }

@media (min-width: 1300px) {
  .extraGoods__action {
    width: auto;
    text-align: center; } }

.programForm {
  overflow: hidden; }

.programForm__wrapper {
  width: auto;
  padding: 0 20px; }
  @media (min-width: 768px) {
    .programForm__wrapper {
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .programForm__wrapper {
      width: 93.8%;
      max-width: 1220px;
      padding: 0 40px; } }

.programForm__title {
  margin-top: 15px;
  margin-bottom: 28px; }

.program__text {
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

.programForm__submit {
  margin-bottom: 34px; }

.programForm__btn {
  width: 100%;
  margin-bottom: 23px; }

.programForm__note {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center; }

@media (min-width: 768px) {
  .programForm__title {
    margin-top: 58px;
    margin-bottom: 60px; }
  .program__text {
    margin-bottom: 66px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px; }
  .programForm__submit {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 72px;
    padding: 0 40px; }
  .programForm__btn {
    width: 46.5%;
    margin-right: 60px;
    margin-bottom: 0; }
  .programForm__note {
    width: 46.5%;
    font-size: 16px;
    text-align: left; } }

@media (min-width: 1300px) {
  .programForm__title {
    margin-top: 78px;
    margin-bottom: 55px; }
  .program__text {
    padding-left: 0; }
  .programForm__submit {
    margin-bottom: 82px;
    padding: 0; }
  .programForm__btn {
    width: 46.7%; }
  .programForm__note {
    width: 46.7%; } }

.formSection {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  border: none;
  outline: none; }
  .formSection--feature {
    margin-bottom: 23px; }
  .formSection--program {
    margin: 0 -20px;
    margin-bottom: 28px;
    padding: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed; }
  .formSection--last {
    margin-bottom: 34px; }

.formSection__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 14px; }
  .formSection__item--radio, .formSection__item--checkbox {
    margin-bottom: 13px; }
  .formSection__item:last-child {
    margin-bottom: 0; }

.formSection__name {
  text-transform: uppercase; }

.formSection__textField {
  height: 45px;
  padding: 13px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  outline: none;
  border: 1px solid #ededed;
  box-sizing: border-box;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease; }
  .formSection__textField:hover {
    border-color: #cdcdcd; }
  .formSection__textField:active, .formSection__textField:focus {
    border-color: #444444;
    box-shadow: inset 0 0 0 1px #444444; }
  .formSection__textField:active:invalid, .formSection__textField:focus:invalid, .formSection__textField.invalid {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282; }
  .formSection__textField::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.7);
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .formSection__textField:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.7);
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .formSection__textField::-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.7);
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .formSection__textField::placeholder {
    color: rgba(68, 68, 68, 0.7);
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s; }
  .formSection__textField:focus::-webkit-input-placeholder {
    opacity: 0; }
  .formSection__textField:focus:-ms-input-placeholder {
    opacity: 0; }
  .formSection__textField:focus::-ms-input-placeholder {
    opacity: 0; }
  .formSection__textField:focus::placeholder {
    opacity: 0; }

.formSection__inputText {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 15px; }

.formSection__contactWrapper {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 15px; }

.formSection__contact {
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box; }
  .formSection__contact + .formSection__icon {
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  .formSection__contact:active + .formSection__icon,
  .formSection__contact:focus + .formSection__icon {
    fill: #68b738; }
  .formSection__contact:active:invalid + .formSection__icon,
  .formSection__contact:focus:invalid + .formSection__icon,
  .formSection__contact.invalid + .formSection__icon {
    fill: #ff8282; }

.formSection__icon {
  position: absolute;
  top: 0;
  right: 0; }
  .formSection__icon--mail {
    top: 15px;
    right: 15px;
    width: 17px;
    height: 13px;
    fill: #222222; }
  .formSection__icon--phone {
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    fill: #222222; }

.formSection__textarea {
  width: 100%;
  height: 148px;
  padding: 13px 15px;
  box-sizing: border-box;
  resize: none; }

.formSection__title {
  position: relative;
  display: inline-block;
  margin-left: -20px;
  margin-bottom: 34px;
  padding-left: 20px;
  padding-right: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #111111;
  background: #ffffff; }
  .formSection__title::before, .formSection__title::after {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;
    width: 100vw;
    height: 3px;
    background-color: #68b738; }
  .formSection__title::before {
    right: 100%; }
  .formSection__title::after {
    left: 100%; }

.formSection__name--radio,
.formSection__name--checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }
  .formSection__name--radio::before,
  .formSection__name--checkbox::before {
    content: "";
    width: 28px;
    height: 28px;
    margin-right: 16px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease; }
  .formSection__name--radio:hover::before,
  .formSection__name--checkbox:hover::before {
    border-color: #bababa; }
  .formSection__name--radio:active,
  .formSection__name--checkbox:active {
    opacity: .3; }

.formSection__name--radio::before {
  border-radius: 50%; }

.formSection__radio:disabled + .formSection__name--radio,
.formSection__radio.disabled + .formSection__name--radio {
  opacity: .3;
  cursor: not-allowed; }

.formSection__radio:checked + .formSection__name--radio::before {
  background-image: -webkit-radial-gradient(#68b738 0, #68b738 6px, #ffffff 6px, #ffffff 100%);
  background-image: radial-gradient(#68b738 0, #68b738 6px, #ffffff 6px, #ffffff 100%); }

.formSection__checkbox:checked + .formSection__name--checkbox::before {
  background-image: url("../img/vector/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 21px 16px; }

@media (min-width: 768px) {
  .formSection {
    margin-bottom: 66px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 1; }
    .formSection--feature {
      margin-bottom: 72px; }
    .formSection--program {
      margin-right: 40px;
      margin-left: 40px;
      margin-bottom: 76px;
      padding: 24px 28px;
      border: 1px solid #ededed; }
    .formSection--last {
      margin-bottom: 56px; }
  .formSection__wrapper--checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .formSection__item {
    margin-bottom: 20px; }
    .formSection__item--radio {
      margin-bottom: 13px; }
    .formSection__item--checkbox {
      width: 45.2%;
      margin-bottom: 32px; }
      .formSection__item--checkbox:nth-last-child(-n+2) {
        margin-bottom: 0; }
    .formSection__item:last-child {
      margin-bottom: 0; }
  .formSection__textField {
    height: 52px;
    padding: 16px 20px;
    font-size: 20px;
    line-height: 20px; }
  .formSection__inputText,
  .formSection__contacttWrapper {
    margin-left: 16px; }
  .formSection__contact {
    padding-right: 37px; }
  .formSection__icon--mail {
    top: 20px;
    right: 20px; }
  .formSection__icon--phone {
    top: 16px;
    right: 16px; }
  .formSection__textarea {
    width: 100%;
    height: 172px;
    padding: 16px 19px; }
  .formSection__title {
    margin-left: -40px;
    margin-bottom: 75px;
    padding-left: 40px;
    padding-right: 39px;
    font-size: 36px; }
    .formSection__title::before, .formSection__title::after {
      top: 22px; }
  .formSection__name--radio::before,
  .formSection__name--checkbox::before {
    width: 38px;
    height: 38px;
    margin-right: 20px; }
  .formSection__radio:checked + .formSection__name--radio::before {
    background-image: -webkit-radial-gradient(#68b738 0, #68b738 9px, #ffffff 9px, #ffffff 100%);
    background-image: radial-gradient(#68b738 0, #68b738 9px, #ffffff 9px, #ffffff 100%); } }

@media (min-width: 1300px) {
  .formSection__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .formSection {
    margin-bottom: 70px;
    padding-right: 0;
    padding-left: 0; }
    .formSection--feature {
      width: 46.7%;
      margin-bottom: 70px; }
    .formSection--program {
      width: 47.6%;
      margin-right: 0;
      margin-left: 0;
      padding: 24px 28px;
      box-sizing: border-box; }
    .formSection--last {
      margin-bottom: 60px; }
  .formSection__item--contacts {
    width: 46.7%;
    margin-bottom: 0; }
  .formSection__item--checkbox {
    width: 245px;
    margin-bottom: 0; }
  .formSection__item:last-child {
    margin-bottom: 0; }
  .formSection__title {
    margin-left: -40px;
    margin-bottom: 76px;
    padding-left: 40px; } }
