@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    // src: url('#{$font-folder+$src}.eot'); // IE9 compat
    src: // url('#{$font-folder+$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
    url('#{$fontsFolder + $src}.woff') format('woff'),
    url('#{$fontsFolder + $src}.woff2') format('woff2'),
    url('#{$fontsFolder + $src}.ttf') format('truetype'); // Safari, Android, iOS

    font-style: $style;
    font-weight: $weight;
  }
}

@mixin no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

@mixin reset-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media #{unquote($tabletWidth)} {
    width: 708px;
  }

  @media #{unquote($desktopWidth)} {
    width: 1220px;
  }
}

@mixin containerFluid() {
  width: auto;
  padding: 0 $mobilePads;

  @media #{unquote($tabletWidth)} {
    width: 92%;
    margin: 0 auto;
    padding: 0 $tabletPads;
  }

  @media #{unquote($desktopWidth)} {
    width: 93.8%;
    max-width: 1220px;
    padding: 0 $desktopPads;
  }
}
