$imgFolder: '../img/'; // путь к изображениям
$fontsFolder: '../fonts/'; // путь к шрифтам

$white: #ffffff;
$colorText: #444444;
$gray-1: #111111;
$gray-2: #222222;
$green: #68b738;

$bgWhite: $white;

$mobileWidthsOnly: "(max-width: 767px)";
$mobilePads: 20px;
$tabletWidth: "(min-width: 768px)";
$tabletPads: 30px;
$desktopWidth: "(min-width: 1300px)";
$desktopPads: 40px;
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$fontOswald: 'Oswald', 'Arial', sans-serif;
$fontArial: 'Arial', sans-serif;
