.advantages {
  padding-top: 18px;
  padding-bottom: 42px;
}

.advantages__wrapper {
  @include containerFluid();
}

.advantages__title {
  margin-bottom: 28px;
}

.advantages__list {
  @include reset-list-style();
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    flex-shrink: 0;
    content: "";
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $green;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px;
  }

  &--leaf::before {
    background-image: url($imgFolder + "raster/advantage-leaf@1x.png");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url($imgFolder + "raster/advantage-powder@1x.png");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url($imgFolder + "raster/advantage-dining@1x.png");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url($imgFolder + "raster/advantage-clock@1x.png");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/advantage-clock@2x.png");
    }
  }
}

.advantages__text {
  font-family: $fontArial;
  font-size: 14px;
  line-height: 18px;
}

@media #{unquote($tabletWidth)} {

  .advantages {
    padding-top: 46px;
    padding-bottom: 54px;
  }

  .advantages__title {
    margin-bottom: 70px;
  }

  .advantages__list {
    counter-reset: section;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    counter-increment: section;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 325px;
    margin-bottom: 90px;
    padding-bottom: 46px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 32px;
    }

    &::after {
      content: counter(section);
      position: absolute;
      top: -25px;
      right: 90px;
      z-index: -1;
      font-family: $fontOswald;
      font-size: 280px;
      line-height: 260px;
      color: $gray-light;
    }
  }

  .advantages__text {
    flex-grow: 1;
    max-width: calc(100% - 60px);
    padding-right: 60px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media #{unquote($desktopWidth)} {

  .advantages {
    padding-top: 72px;
    padding-bottom: 25px;
  }

  .advantages__title {
    margin-bottom: 73px;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      right: 0;
    }
  }

  .advantages__text {
    max-width: 100%;
    padding-right: 0;
  }
}
