.result__list {
  @include reset-list-style();
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.result__item {
  min-width: 122px;
  margin-bottom: 13px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.result__text {
  width: 86px;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: -15px;
  font-family: $base-font;
  font-size: 24px;
  line-height: 24px;
  color: $gray-darken;
  text-align: center;
  text-transform: uppercase;
  background-color: $gray-light;

  &--small {
    display: block;
    margin-top: 9px;
    font-family: $secondary-font;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: $colorText;
  }
}

.result__total {
  font-family: $base-font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $gray-darken;
}

@media #{unquote($tabletWidth)} {

  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .result__list {
    margin-bottom: 0;
  }

  .result__item {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 162px;
    margin-bottom: 0;
    margin-right: 40px;
    padding-top: 19px;

    &:last-child {
      margin-right: 0;
    }
  }

  .result__text {
    // display: inline-block;
    width: auto;
    margin-top: 0px;
    margin-bottom: -7px;
    font-size: 30px;
    line-height: 30px;
    background-color: $white;

    &--small {
      margin-top: 14px;
      font-size: 14px;
      line-height: 14px;
    }

    &--small br {
      display: none;
    }
  }

  .result__total {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

@media #{unquote($desktopWidth)} {

  .result {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .result__list {
    margin-bottom: 60px;
  }

  .result__text {
    background-color: $gray-light;
  }

  .result__total {
    width: auto;
    text-align: left;

    &--value {
      padding-left: 60px;
    }
  }
}
