.categories {
  @include containerFluid();

  &__wrapper {
    font-weight: 400;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    padding: 25px 19px 20px;
    background-color: $gray-light;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
      width: 50px;
      height: 50px;
      background-color: $green;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 20px;
    }

    &--slim::after {
      top: 22px;
      left: 29px;
      width: 35px;
      height: 49px;
      background-image: url($imgFolder + "vector/icon-cat-slim.svg");
    }

    &--pro::after {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background-image: url($imgFolder + "vector/icon-cat-pro.svg");
    }
  }

  &__title {
    margin-bottom: 25px;
    padding: 13px 0;
    padding-left: 71px;
    font-family: $fontOswald;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray-1;
  }

  &__description {
    margin-bottom: 20px;
    padding-bottom: 24px;
    font-family: $fontArial;
    font-size: 14px;
    line-height: 18px;
    border-bottom: 1px solid #d9d9d9;
    color: $colorText;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    font-family: $fontOswald;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: $gray-1;

    &::before,
    &::after {
      display: block;
      content: "";
      transition: all 0.3s ease-out;
    }

    &::before {
      order: 1;
      margin-left: 12px;
      width: 19px;
      height: 3px;
      background-color: $gray-1;
    }

    &::after {
      order: 2;
      border: 5.5px solid transparent;
      border-left-color: $gray-1;
    }

    &:hover::before {
      width: 27px;
    }

    &:active {
      opacity: 0.3;
      transition: none;
    }
  }
}


@media #{unquote($tabletWidth)} {

  .categories__item {
    margin-bottom: 30px;
    padding: 80px 60px 62px 52px;

    &::before {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 62px;
      left: auto;
      right: 62px;
    }

    &--slim::after {
      top: 80px;
      right: 92px;
      width: 140px;
      height: 194px;
    }

    &--pro::after {
      top: 135px;
      right: 30px;
      width: 268px;
      height: 112px;
    }
  }

  .categories__title {
    margin-bottom: 32px;
    padding: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .categories__description {
    margin-bottom: 65px;
    padding-bottom: 0;
    padding-right: 222px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}
