.pageHeader__wrapper {
  position: relative;
  @include containerFluid();
}

.paheHeader__logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 16px;
  transition: opacity .3s ease;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.pageHeader__logoImage {
  width: 33px;
  height: 38px;
}

.pageHeader__logoTitle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 91px;
  width: 101px;
  height: 18px;
  margin: auto;
}

@media #{unquote($tabletWidth)} {

  .pageHeader__wrapper {
    display: flex;
    justify-content: space-between;
    // align-items: center
    padding-top: 24px;
  }

  .paheHeader__logo {
    display: block;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .pageHeader__logoImage {
    width: 173px;
    height: 58px;
  }

  .pageHeader__logoTitle {
    display: none;
  }
}

@media #{unquote($desktopWidth)} {

  .pageHeader {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 50%;
      min-height: 696px;
      background-image: url($imgFolder + 'raster/index-background-desktop@1x.jpg');

      @media #{unquote($retina)} {
        background-image: url($imgFolder + 'raster/index-background-desktop@2x.jpg');
      }

      background-color: #63a73a;
      background-position: 0%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .pageHeader__wrapper {
    padding-top: 54px;
  }

  .pageHeader__logoImage {
    width: 202px;
    height: 59px;
  }
}
