.programForm {
  overflow: hidden;
}

.programForm__wrapper {
  @include containerFluid();
}

.programForm__title {
  margin-top: 15px;
  margin-bottom: 28px;
}

.program__text {
  margin-bottom: 39px;
  font-family: $base-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.programForm__submit {
  margin-bottom: 34px;
}

.programForm__btn {
  width: 100%;
  margin-bottom: 23px;
}

.programForm__note {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media #{unquote($tabletWidth)} {

  .programForm__title {
    margin-top: 58px;
    margin-bottom: 60px;
  }

  .program__text {
    margin-bottom: 66px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .programForm__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
    padding: 0 40px;
  }

  .programForm__btn {
    width: 46.5%;
    margin-right: 60px;
    margin-bottom: 0;
  }

  .programForm__note {
    width: 46.5%;
    font-size: 16px;
    text-align: left;
  }
}

@media #{unquote($desktopWidth)} {

  .programForm__title {
    margin-top: 78px;
    margin-bottom: 55px;
  }

  .program__text {
    padding-left: 0;
  }

  .programForm__submit {
    margin-bottom: 82px;
    padding: 0;
  }

  .programForm__btn {
    width: 46.7%;
  }

  .programForm__note {
    width: 46.7%;
  }
}
