.catalog {
  @include containerFluid();
  // background-color: red;
}

.catalog__title {
  margin-top: 15px;
  margin-bottom: 28px;
}


.catalog__list {
  margin-right: -20px;
  margin-left: -20px;
  // background-color: yellow;
}

.catalog__item {
  // background-color: green;
  padding: 0 20px 24px;
  border-top: 1px solid $borderColor;

  &:last-child {
    border-bottom: 1px solid $borderColor;
  }

  &--more {
    position: relative;
    padding-top: 80px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      width: 30px;
      height: 2px;
      margin: auto;
      background-color: #d3d3d3;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.catalog__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

@media #{unquote($tabletWidth)} {

  .catalog__title {
    margin-top: 60px;
    margin-bottom: 84px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    width: 45.8%;
    min-height: 430px;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0 37px 40px;
    background-color: $gray-light;
    box-sizing: border-box;
    border-top: none;

    &:last-child {
      border: 1px solid $borderColor;
    }

    &--more {
      background-color: transparent;
      padding-top: 165px;

      &::before,
      &::after {
        top: 83px;
        width: 60px;
      }
    }
  }
}
