.extraGoods {
  padding-top: 28px;
  overflow: hidden;
}

.extraGoods__wrapper {
  @include containerFluid();
  position: relative;
}

.extraGoods__title {
  position: relative;
  display: inline-block;
  margin-left: -20px;
  margin-bottom: 34px;
  padding-left: 20px;
  padding-right: 24px;
  font-family: $base-font;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: $gray-darken;
  background: $bgWhite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 55%;
    z-index: -1;
    width: 100vw;
    height: 3px;
    background-color: $green;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }
}

.extraGoods__list {
  @include reset-list-style();
  margin-bottom: 40px;
}

.extraGoods__item {
  padding: 12px 0 17px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extraGoods__name {
  margin-bottom: 15px;
  font-family: $base-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.extraGoods__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
}

.extraGoods__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.extraGoods__gift {
  width: 100%;
  min-height: 290px;
  margin-bottom: 35px;
  padding: 65px 60px 41px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  background-color: $green;
  background-image: url($imgFolder + "raster/gift-photo-mobile@1x.jpg");

  @media #{unquote($retina)} {
    background-image: url($imgFolder + "raster/gift-photo-mobile@2x.jpg");
  }

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
}

.gift__icon {
  margin-bottom: 60px;
  fill: $white;
}

@media #{unquote($tabletWidth)} {

  .extraGoods {
    padding-top: 7px;
  }

  .extraGoods__title {
    margin-left: 0;
    margin-bottom: 80px;
    padding-left: 37px;
    padding-right: 39px;
    font-size: 36px;
    line-height: 1;
  }

  .extraGoods__list {
    margin-bottom: 70px;
  }

  .extraGoods__item {
    padding: 25px 39px 28px;
  }

  .extraGoods__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
  }

  .extraGoods__name {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .extraGoods__info {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .extraGoods__info span:first-child {
    margin-right: 53px;
  }

  .extraGoods__gift {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    margin-bottom: 75px;
    padding: 65px 122px 70px 90px;
    background-image: url($imgFolder + "raster/gift-photo-tablet@1x.jpg");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__icon {
    margin-bottom: 0;
  }

  .extraGoods__action {
    width: 165px;
    text-align: left;
  }

}

@media #{unquote($desktopWidth)} {

  .extraGoods {
    padding-top: 15px;
    padding-bottom: 85px;
  }

  .extraGoods__title {
    margin-left: -40px;
    padding-left: 40px;
  }

  .extraGoods__content {
    display: flex;
    justify-content: space-between;
  }

  .extraGoods__list {
    flex-grow: 1;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .extraGoods__item {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 0 16px;
  }

  .extraGoods__product {
    flex-grow: 1;
    margin-right: 40px;
    margin-bottom: 0;
  }

  .extraGoods__name {
    width: 245px;
  }

  .extraGoods__info {
    width: 285px;
  }

  .extraGoods__btn {
    width: 245px;
    box-sizing: border-box;
  }

  .extraGoods__gift {
    flex-direction: column;
    align-items: center;
    width: 245px;
    min-height: 289px;
    margin-bottom: 0;
    padding: 65px 42px 42px;
    background-image: url($imgFolder + "raster/gift-photo-desktop@1x.jpg");

    @media #{unquote($retina)} {
      background-image: url($imgFolder + "raster/gift-photo-desktop@2x.jpg");
    }
  }

  .extraGoods__action {
    width: auto;
    text-align: center;
  }
}
