.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: red;
}

.product__image {
  width: 50%;
  // background-color: yellow;

  img {
    width: 140px;
    height: 144px;
    margin: auto;
  }
}

.product__info {
  width: 50%;
  font-weight: normal;
  // background-color: green;
}

.product__title {
  margin-bottom: 12px;
  padding-right: 40px;
  font-family: $fontOswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: $gray-1;
}

.product__details {
  width: 100%;
  font-family: $fontArial;
  font-size: 12px;
  line-height: 16px;
  color: $colorText;

  tr td:nth-child(2){
    text-align: right;
  }
}

.productMore {
  text-align: center;
}

.productMore__title {
  margin-bottom: 9px;
  font-family: $fontOswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.productMore__text {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}

.productMore__btn {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

@media #{unquote($tabletWidth)} {

  .product {
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: -37px;
    margin-left: -37px;
  }

  .product__image {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 38px;

    img {
      width: 324px;
      height: auto;
    }
  }

  .product__info {
    width: 100%;
    padding: 0 37px;
    box-sizing: border-box;
  }

  .product__title {
    width: 130px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 0;
    font-size: 20px;
    text-align: center;
  }

  .product__details {
    margin-bottom: 33px;
    font-size: 16px;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid #cdcdcd;
    }

    tr > td {
      padding: 8px 0;
    }

    tr td:nth-child(2){
      text-align: right;
    }
  }


  .productMore__title {
    width: 170px;
    margin: auto;
    margin-bottom: 30px;
    padding: 0 35px;
    font-size: 20px;
  }

  .productMore__text {
    width: 180px;
    margin: auto;
    margin-bottom: 90px;
    padding: 0 10px;
    font-size: 16px;
  }
}
